html {
	height: 100%;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: #4c6ea7;
}

h1 {
	text-align: center;
    color: #000000;
    font-style: italic;
    margin-bottom: 30px !important;
}

h3 {
	text-align: center;
    color: #000000;
    margin-bottom: 30px !important;
}


#todo {
	margin: auto;
	width: 50%;
	max-width: 800px;
}

#todo button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #003082 !important;
    border-color: #4c6ea7 !important;
}


#list::-webkit-scrollbar {
    width: 4px;
}
 
#list::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

#list {
	width: 50%;
	max-width: 800px;
    background:	#e5eaf2;
    margin: auto;
	padding: 0;
	box-sizing: border-box;
    overflow: auto;   
    max-height: 70vh;
}

#list li:hover {
	background: #aaaaaa;
}

#list li.item {
	display: flex;
	width: 100%;
	padding: 20px 30px 10px 30px;
	box-sizing: border-box;         
}

#list li.item span {
    font-weight: 100;
    font-size: 24px;
	flex-grow: 1;
    color: #595959;
}

#list li a {
    padding: 10px;
    margin-top: -5px;
    cursor: pointer;
}

#list li.item i {
	color: #cecece;
}

#list li.item a:hover i {
	color: grey;
	transition: all 100ms linear;
}

/* #################### */

#list2 {
	width: 50%;
	max-width: 800px;
    background:	#e5eaf2;
    margin: auto;
	padding: 0;
	box-sizing: border-box;
    overflow: auto;   
    max-height: 70vh;
}

#list2 li:hover {
	background: #aaaaaa;
}

#list2 li.item {
	display: flex;
	width: 100%;
	padding: 20px 30px 10px 30px;
	box-sizing: border-box;         
}

#list2 li.item span {
    font-weight: 100;
    font-size: 24px;
	flex-grow: 1;
    color: #595959;
}

#list2 li a {
    padding: 10px;
    margin-top: -5px;
    cursor: pointer;
}

#list2 li.item i {
	color: #cecece;
}

#list2 li.item a:hover i {
	color: grey;
	transition: all 100ms linear;
}

input {
	padding: 10px;
    border-radius: 0px;
    border: none;
    background: #f6f4f4;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    font-size: 40px;
    color: #696969;
    padding: 20px 30px;
	box-sizing: border-box;  
}

 ::-webkit-input-placeholder {
	color: #bbb;
}

input#add-item:focus {
    border-bottom: 2px solid #a2c7ec;
    outline: none;
}
